---
http_interactions:
- request:
    method: get
    uri: http://gdata.youtube.com/feeds/api/videos/abc?v=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Gdata-User-Country:
      - US
      Content-Type:
      - application/vnd.google.gdata.error+xml
    body:
      encoding: US-ASCII
      string: <errors xmlns='http://schemas.google.com/g/2005'><error><domain>GData</domain><code>InvalidRequestUriException</code><internalReason>Invalid
        id</internalReason></error></errors>
  recorded_at: Thu, 06 Dec 2012 20:46:14 GMT
recorded_with: VCR 2.1.1
