--- 
recorded_with: VCR 2.1.1
http_interactions: 
- request: 
    method: get
    uri: http://gdata.youtube.com/feeds/api/videos/abc?v=2
    body: 
      string: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - application/vnd.google.gdata.error+xml
      X-Gdata-User-Country: 
      - AR
    body: 
      string: <errors xmlns='http://schemas.google.com/g/2005'><error><domain>GData</domain><code>InvalidRequestUriException</code><internalReason>Invalid id</internalReason></error></errors>
  recorded_at: Wed, 11 Jul 2012 19:48:22 GMT
