---
http_interactions:
- request:
    method: post
    uri: http://gdata.youtube.com/action/GetUploadToken
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><entry xmlns="http://www.w3.org/2005/Atom"
        xmlns:media="http://search.yahoo.com/mrss/" xmlns:yt="http://gdata.youtube.com/schemas/2007"
        xmlns:gml="http://www.opengis.net/gml" xmlns:georss="http://www.georss.org/georss"><media:group><media:title
        type="plain">test title</media:title><media:description type="plain">test
        description</media:description><media:keywords>test</media:keywords><media:category
        scheme="http://gdata.youtube.com/schemas/2007/categories.cat">People</media:category></media:group></entry>
    headers:
      Authorization:
      - Bearer ya29.AHES6ZSM9daT4w_g1UJW_ii4eelGDYjF8Hz5s569hixmmEg
      X-GData-Client:
      - youtube_it
      X-GData-Key:
      - key=AI39si7WuZZxAkYebKSyrlJR7hIFktt6OoPycEOeOT_yHkZgr6QsGbZgmhKvbS4bsSAv0utgrfhNfXQBITu1wX_z3VsZE02giQ
      GData-Version:
      - '2.1'
      Content-Type:
      - application/atom+xml; charset=UTF-8
  response:
    status:
      code: 200
      message: 
    headers:
      X-GData-User-Country:
      - AR
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><response><url>http://uploads.gdata.youtube.com/action/FormDataUpload/AIwbFASckM89ssWzziKIbH4GJYxDdCAedJT-TrV4TIOAq9o0TnRl4j5R4-6RwG7Oa7e354SBZaaPgr0q_4PWrsQGLuARp0liNA</url><token>AIwbFATVZSne0_01NvPYEyMf9TMlcfXce21R0_yXhKLsRCgLzJBiSNp8PopdgfH4Wo80Pu-OCowjzEH2tJeQD3xksdQxGk1OdBBBHY1PycNmXrKqZT3gyCf6rc1iWC9hKt3DXaDYZK7M_-0pOjkAjiKCG6ayTSjpmTbU6uNapBQp1Hk3RIgqzGn8HUI6lk1siQsfusswi2dQzqj59tUZY2GqbJsNtlgCV44voBqkLOUDm0vanSQzurgVqfCATCqag7p4214yHhaYGG-uks7lo04CjHj27K81kqITNdvdLW7FhoLvMrH133w</token></response>
  recorded_at: Thu, 23 May 2013 16:35:33 GMT
recorded_with: VCR 2.5.0
